.aboutButton {
    color: #120f0f;
    background-color: #e4dfdf;
    border-radius: 25px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
    position: relative;
    z-index: 2;
}

.aboutButton:hover {
    background-color: #d6d1d1;
}

.aboutButton:active {
    transform: translateY(1px);
}